* {
  background-color: black;
}
h1 {
  color: #42904b;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
}
p {
  font-size: 18px;
  color: #42904b;
  font-family: monospace;
  text-align: left;
}
#response {
  text-align: left;
}
